@font-face {
  font-family: 'FontAwesome';
  src: url("applab/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
#divApplab.appModern button.appModernDesign,
#divApplab.appModern button.appModernDesign:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label.appModernDesign,
#divApplab.appModern label.appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 28px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text].appModernDesign,
#divApplab.appModern input[type=text].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(153, 153, 153);
  border-right-color: rgb(153, 153, 153);
  border-bottom-color: rgb(153, 153, 153);
  border-left-color: rgb(153, 153, 153);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox].appModernDesign,
#divApplab.appModern input[type=checkbox].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select.appModernDesign,
#divApplab.appModern select.appModernDesign:hover {
  width: 200px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio].appModernDesign,
#divApplab.appModern input[type=radio].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea.appModernDesign,
#divApplab.appModern div.textArea.appModernDesign:hover {
  width: 200px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: rgb(153, 153, 153);
  border-right-color: rgb(153, 153, 153);
  border-bottom-color: rgb(153, 153, 153);
  border-left-color: rgb(153, 153, 153);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img.appModernDesign,
#divApplab.appModern img.appModernDesign:hover {
  height: 100px;
  width: 100px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  object-fit: contain;
  font-family: "object-fit: contain;";
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas.appModernDesign,
#divApplab.appModern canvas.appModernDesign:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen.appModernDesign,
#divApplab.appModern div.screen.appModernDesign:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart.appModernDesign,
#divApplab.appModern div.chart.appModernDesign:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range].appModernDesign,
#divApplab.appModern input[type=range].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #welcomeScreen {
  background-color: rgb(0, 255, 16);
}

#divApplab.appModern #welcomeImage {
  height: 450px;
  width: 320px;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

#divApplab.appModern #welcomeLabel {
  font-size: 21px;
  width: 165px;
  height: 110px;
  left: 175px;
  top: 1.66533e-16px;
  text-align: center;
}

#divApplab.appModern #startButton {
  height: 50px;
  width: 320px;
  font-size: 34px;
  color: rgb(4, 4, 4);
  left: -1.11022e-16px;
  top: 400px;
  background-color: rgb(255, 255, 255);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#divApplab.appModern #gameScreen {
  display: none;
}

#divApplab.appModern #bgImage {
  height: 460px;
  width: 320px;
  top: -5px;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

#divApplab.appModern #counterLabel {
  font-size: 28px;
  color: rgb(255, 254, 254);
  width: 60px;
  height: 35px;
  left: 255px;
  top: 25px;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

#divApplab.appModern #counterLabel1 {
  font-size: 20px;
  color: rgb(255, 254, 254);
  width: 80px;
  height: 25px;
  left: 240px;
  font-family: "Lucida Console", Monaco, monospace;
}

#divApplab.appModern #evilJohnson {
  top: -5px;
}

#divApplab.appModern #drj {
  left: 105px;
  top: 130px;
}

#divApplab.appModern #dlcImage {
  height: 30px;
  width: 65px;
  left: 190px;
  top: 180px;
}

#divApplab.appModern #gameOverScreen {
  display: none;
}

#divApplab.appModern #gameOverImage {
  height: 510px;
  width: 315px;
  top: -10px;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

#divApplab.appModern #dlcScreen {
  display: none;
}

#divApplab.appModern #image1 {
  height: 450px;
  width: 320px;
  top: 1.11022e-16px;
  object-fit: fill;
  font-family: "object-fit: fill;";
}

#divApplab.appModern #dlcDRJ {
  left: 115px;
  top: 110px;
}

#divApplab.appModern #GoBack {
  height: 75px;
  width: 125px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 29px;
  color: rgb(239, 235, 235);
  background-color: rgba(26, 188, 156, 0);
  left: 200px;
  top: 370px;
}

#divApplab.appModern #winScreen {
  display: none;
}

#divApplab.appModern #winImage {
  height: 535px;
  width: 365px;
  left: -20px;
  object-fit: fill;
  font-family: "object-fit: fill;";
}
